<div class="session">
  <h3><a name="aimonetti"></a>CouchDB + Ruby: Perform Like a Pr0n Star</h3>
  <p class="speaker"><a href="/speakers/index.html#aimonetti">Matt Aimonetti</a></p>
  <p>
    Do you secretly dream to have a scalability like Google, easily distribute and replicate your data multiple times a day, use a fault-tolerant and schema-free solution, let your data be safely consumed by multiple partners using different interfaces? RESTful API, cloud computing & query caching sound dirty to you? This talk is for you! Come and learn about how you can use Ruby + Apache's latest document-oriented database to finally say good-bye to your old RDBMS.</p>

  <p>In his talk Matt will:</p>

  <ul>
    <li>explain the difference between RDBMS, document-oriented DBMS, key-value storage systems and column-oriented DBMS</li>
    <li>show how to rethink your data storage</li>
    <li>demonstrate the advantages of CouchDB over RDBMS (flexibility, performance, design, reliabilty, replication)</li>
    <li>show in details how to integrate CouchDB with Ruby using CouchRest</li>
    <li>show how to optimize your perf by using a HTTP accelerator/load balancer</li>
    <li>warn you about the cons of the CouchDB + Ruby combo</li>
  </ul>
</div>
