---
title: Community
filter: erb
---
<h2>Conference Team</h2>
<p>Golden Gate Ruby Conference is a production of Golden Gate Ruby Conference, LLC. Your conference organizers are:</p>
<ul class="people">
  <li><%= render :partial => "/people/susser" %></li>
  <li><%= render :partial => "/people/silber" %></li>
</ul>

<h2>Follow Us</h2>
<div>
  <p>You can keep up with news updates on our Twitter account: <a href="http://twitter.com/gogaruco">twitter.com/gogaruco</a></p>
  <p>We'll be linking up speakers and code used in presentations on our GitHub account: <a href="http://github.com/gogaruco">github.com/gogaruco</a>.  We'd like to follow you too, so we'll ask you for your GitHub account when you register. Don't have one yet? <a href="http://github.com/plans">Go get one</a> for free!</p>
</div>

<h2>Tell the World!</h2>
<div>
  <p>Our logo artist, Bruce Williams, has made us an adorable badge that should fit nicely in the sidebar of your blog, on your FaceBook page, or wherever you tell the world what's up.  Pop this baby in your sidebar and link us up to show people how cool (OK, geeky) you are.</p>
  <table class="badge_me">
    <tbody>
      <tr>
        <td><a href="http://gogaruco.com/"><img src="/badges/gogaruco-attending.png"></a></td>
        <td>
          &lt;a href=&quot;http://gogaruco.com/&quot;&gt;
          <br>
          &nbsp;&nbsp;&lt;img src=&quot;http://gogaruco.com/badges/gogaruco-attending.png&quot;&gt;
          <br>
          &lt;/a&gt;
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Contact Us</h2>
<div>
  <p>General inquiries: <a href="mailto:conference@gogaruco.com?subject=conference">conference@gogaruco.com</a></p>
  <p>Sponsorship opportunities: <a href="mailto:sponsors@gogaruco.com?subject=sponsoring">sponsors@gogaruco.com</a></p>
</div>
