<div class="person">
  <div class="mug"><img src="/images/people/aimonetti.png"></div>
  <h3><a name="aimonetti"></a>Matt Aimonetti</h3>
  <p>You might recognize Matt Aimonetti from movies like "slim &amp; sexy Merb," "DataMapper and its multiple repositories", "Rails Activism, keeping the community involved", and more recently: "MacRuby: when Matz meets Steve Job" as well as "CouchRest: Ruby all the way."</p>
  <p class="appearing"><a href="/schedule/index.html#aimonetti">CouchDB + Ruby: Perform Like a Pr0n Star</a></p>
</div>
