--
filter: erb
--
<div class="person">
  <div class="mug"><img src="/images/people/borenstein.png"></div>
  <h4>Greg Borenstein</h4>
  <p>Greg Borenstein is a programmer and musician in Portland, Oregon. He is the author of a number of open source projects including <a href="http://rad.rubyforge.org">RAD</a>, a library for programming the Arduino open source hardware platform in Ruby. In his spare time, Greg organizes PDX Pop Now!, a free all-ages local music festival and non-profit organization, and blogs about Ruby, art, and hardware hacking on <a href="http://urbanhonking.com/ideasfordozens">Urban Honking</a>. Ruby was the first programming language he ever learned.</p>
  <p class="appearing"><%= session_link("borenstein", "Arduino is Rails for hardware hacking") %></p>
  <p class="appearing"><%= session_link("panel", "Ruby Application Frameworks discussion panel") %></p>
</div>
