<div class="person">
  <div class="mug"><img src="/2009/images/people/burchfield.png"></div>
  <h3><a name="burchfield"></a>Rusty Burchfield</h3>
  <p>Rusty Burchfield is a Software Engineer at Zvents.  Rusty is a problem solver who works all over the software stack using technologies like Rails, Cascading (framework over Hadoop), and Hypertable.</p>
  <p class="appearing"><a href="/2009/schedule/index.html#zvents">Hypertable and Rails: DB Scaling Solutions with HyperRecord</a></p>
</div>
