<div class="person">
  <div class="mug"><img src="/images/people/catlin.png"></div>
  <h3><a name="catlin"></a>Hampton Catlin</h3>
  <p>Hampton Catlin is Mobile Development Lead at the Wikimedia Foundation which runs Wikipedia. He is also the inventor of the Haml and Sass. Hampton spends his days dreaming up ways to blow people's minds. Most recently he has been spending his time introducing Ruby to everyone's favorite online Encyclopedia by launching the new mobile platform in 100% pure, delicious Ruby. Hampton lives in Florida and needs a date.</p>
  <p class="appearing"><a href="/schedule/index.html#catlin">There Will Be Ruby!</a></p>
</div>
