<div class="person">
  <div class="mug"><img src="/images/people/elliott.png"></div>
  <h3><a name="elliott">Tim Elliott</a></h3>
  <p>Tim immediately became enamored with Hackety Hack and its cousin Shoes
when they were released, and he started contributing to Shoes in late
2008. He has been a programmer for <a href="http://www.travidia.com/">Travidia Inc.</a> since 2005, and
shares a 40-acre farm with 10 roommates, 80 chickens, and 2 sheep in
Chico, California.</p>
  <p class="appearing"><a href="/schedule/index.html#elliott">Using Shoes to create better iPhone apps</a></p>
  <p class="appearing"><a href="/schedule/index.html#panel">Ruby Application Frameworks discussion panel</a></p>
</div>
