<div class="person">
  <div class="mug"><img src="/images/people/grigorik.png"></div>
  <h3><a name="grigorik"></a>Ilya Grigorik</h3>
  <p>Ilya Grigorik is the founder and CTO of <a href="http://www.postrank.com/">AideRSS</a>, a social engagement monitoring and analytics platform.  He has been active in the Ruby and cloud computing community for the last three years, documenting and sharing hands on knowledge and experience with the latest architecture, design patterns, and open-source projects (blog: <a href="www.igvita.com">www.igvita.com</a>, twitter: <a href="http://twitter.com/igrigorik">@igrigorik</a>). He is an active speaker at many Ruby and Cloud Computing events.</p>
  <p class="appearing"><a href="/schedule/index.html#grigorik">Ruby Proxies for Scale, Performance, and Monitoring</a></p>
</div>
