<div class="person">
  <div class="mug"><img src="/2009/images/people/helmkamp.png"></div>
  <h3><a name="helmkamp"></a>Bryan Helmkamp</h3>
  <p>Bryan Helmkamp is the lead maintainer of Webrat, a library to
implement acceptance testing of a Ruby web application in a more
expressive and maintainable way. He's a co-author of <a href="http://www.pragprog.com/titles/achbd/the-rspec-book">The RSpec Book</a>, which is now available as a beta PDF. Following three years of Ruby on Rails consulting, Bryan is now a software engineer at Weplay, a New York City-based startup building online tools for the youth sports community. Bryan's software development blog is located at <a href="http://brynary.com/">brynary.com</a>.</p>
  <p class="appearing"><a href="/2009/schedule/index.html#helmkamp">Webrat: Rails Acceptance Testing Evolved</a></p>
</div>
