<div class="person">
  <div class="mug"><img src="/images/people/kallen.png"></div>
  <h3><a name="kallen"></a>Nick Kallen</h3>
  <p>Nick Kallen is a Systems Architect at Twitter, where he focuses on scaling, fault-tolerance, and agile development. He is the author of popular open-source projects such as NamedScope, Screw.Unit, and Cache-Money. Follow Nick on Twitter: <a href="http://twitter.com/nkallen">@nkallen</a></p>
  <p class="appearing"><a href="/schedule/index.html#kallen">Magic Scaling Sprinkles</a></p>
</div>
