<div class="person">
  <div class="mug"><img src="/images/people/katz.png"></div>
  <h3><a name="katz"></a>Yehuda Katz</h3>
  <p>
    Yehuda is currently employed by <a href="http://www.engineyard.com">Engine Yard</a>, and works full time as a Core Team Member on the <a href="http://www.rubyonrails.org">Rails</a> and <a href="http://www.merbivore.com">Merb</a> projects. He is the co-author of <a href="http://www.manning.com/bibeault/">jQuery in Action</a> and the upcoming <a href="http://www.manning.com/katz/">Rails 3 in Action</a>, and is a contributor to <a href="http://www.manning.com/mcanally/">Ruby in Practice</a>. He spends most of his time hacking on Rails and Merb, but is also active on other Ruby community projects like <a href="http://rubini.us/">Rubinius</a> and <a href="http://datamapper.org/">DataMapper</a>. And when the solution doesn't yet exist, he'll try his hand at creating one &mdash; as such, he's also created projects like <a href="http://github.com/wycats/thor">Thor</a> and <a href="http://github.com/datamapper/do/">DO.rb</a>.
  </p>
  <p class="appearing"><a href="/schedule/index.html#panel">Ruby Application Frameworks discussion panel</a></p>
</div>
