<div class="person">
  <div class="mug"><img src="/images/people/katz.png"></div>
  <h4><a name="katz">Yehuda Katz</a></h4>
  <p>Yehuda is currently employed by Engine Yard, and works full time as a Core Team Member on the Rails and Merb projects. He is the co-author of <em>jQuery in Action</em> and the upcoming <em>Merb/Rails 3 in Action</em>, and is a contributor to <em>Ruby in Practice</em>. He spends most of his time hacking on Rails and Merb, but is also active on other Ruby community projects like Rubinius and DataMapper. And when the solution doesn't yet exist, he'll try his hand at creating one &emdash; as such, he's also created projects like Thor and DO.rb.</p>
  <p class="appearing"><a href="/schedule/index.html#panel">Ruby Application Frameworks discussion panel</a></p>
</div>
