<div class="person">
  <div class="mug"><img src="/2009/images/people/kilmer.png"></div>
  <h3><a name="kilmer"></a>Rich Kilmer</h3>
  <p>Richard Kilmer is the founder of Virginia-based software and services company <a href="http://infoether.com/">InfoEther, Inc</a> and is a board member of Ruby Central. Rich's background includes peer-to-peer software, wireless web, workflow, and pen computing. Rich has been using Ruby in production systems since 2002 and has contributed to many Ruby projects over the years including RubyGems and starting RubyForge. Rich's current Ruby efforts are focused on simplifying OS X development with HotCocoa and is a contributor to the MacRuby project.</p>
  <p class="appearing"><a href="/2009/schedule/index.html#kilmer">MacRuby and HotCocoa</a></p>
</div>
