<div class="person">
  <div class="mug"><img src="/images/people/lerche.png"></div>
  <h3><a name="lerche"></a>Carl Lerche</h3>
  <p>Carl Lerche started building web applications at 13 with PHP. He started learning so that he could one up his friends who were only building static HTML. Since then, he's dabbled with quite a few technologies before settling with Ruby four years ago. Carl is a software engineer at Engine Yard, a member of the Merb team (currently working on Rails 3), and a contributor to many OSS projects. He plans to build a web server in haskell, ocaml, or ____ in his spare time for no tangible reason.</p>
  <p class="appearing"><a href="/schedule/index.html#lerche">Writing Fast Ruby: Learning from Merb and Rails 3</a></p>
</div>
