<div class="person">
  <div class="mug"><img src="/images/people/maher.jpg"></div>
  <h3><a name="maher"></a>Jacqui Maher</h3>
  <p>Jacqui is a Ruby on Rails programmer at <a href="http://hashrocket.com/">Hashrocket</a>. She has been a
  professional programmer since 1998, specializing in Ruby, JavaScript,
  Perl, Java, and PHP web development with a solid foundation in design,
  including CSS and HTML.
  </p>
  <p>She contributes to several open source projects with a special
  emphasis on public health. Her main project is currently <a href="http://www.baobabhealth.org/">Baobab Health</a>, a group based
  in Lilongwe, Malawi committed to innovating technologies to change
  lives in the developing world. They have several projects under active
  development on the <a href="http://github.com/baobab/">GitHub Baobab account</a>.
  </p>
  <p>Jacqui has a love of travel and adventure and might be found climbing one
  of the Seven Summits.</p>
  <p class="appearing"><a href="/schedule/index.html#maher">Using Ruby to Fight AIDS</a></p>
</div>
