<div class="person">
  <div class="mug"><img src="/2009/images/people/miller.png"></div>
  <h3><a name="miller"></a>Gregory Miller</h3>
  <p>Gregory Miller is Chief Development Officer of the <a href="http://osdv.org/">Open Source Digital Voting Foundation</a>. He has 29+ years experience in the tech sector, divided between software development and technology business development.  Greg is also a (non-practicing) IP lawyer involved in technology public policy. He has deep product management experience and has spent the past seven years working in venture capital advising start-up companies, and in the last two years has immersed himself in elections and voting technology. Greg is dedicated to restoring trust in elections through open source, open data, open process, and open standards voting technology.</p>
  <p class="appearing"><a href="/2009/schedule/index.html#miller">Trust the Vote: An Open Source Digital Public Works Project</a></p>
</div>
