<div class="person">
  <div class="mug"><img src="/images/people/mizerany.png"></div>
  <h3><a name="mizerany"></a>Blake Mizerany</h3>
  <p>Blake has been into Ruby since way back in 2001 and is the creator of <a href="http://github.com/sinatra/sinatra">Sinatra</a>, the popular Ruby microframework.  Blake spends his days at <a href="http://heroku.com/">Heroku</a>, where he makes mind-blowing features out of Ruby and Erlang, and often says "you're doing it all wrong".  He regularly speaks at Ruby events and in conjunction maintains a completely inexplicable beard-shaving schedule.</p>
  <p class="appearing"><a href="/schedule/index.html#panel">Ruby Application Frameworks discussion panel</a></p>
</div>
