<div class="person">
  <div class="mug"><img src="/images/people/mizerany.png"></div>
  <h3><a name="katz">Blake Mizerany</a></h3>
  <p>Blake probably drinks too much for his own good.</p>
  <p class="appearing"><a href="/schedule/index.html#panel">Ruby Application Frameworks discussion panel</a></p>
</div>
