<div class="person">
  <div class="mug"><img src="/images/people/peek.png"></div>
  <h3><a name="peek"></a>Josh Peek</h3>
  <p>Josh Peek is a 20 year old Rubyist from Chicago, IL. Currently attending college at DePaul University, he codes part time at <a href ="http://www.37signals.com/">37signals</a> and still makes time to hack on other <a href="http://github.com/josh">side projects</a>. Josh joined the Rails core after his work on Rails thread-safety and is now working on full Rack support for Rails.</p>
  <p class="appearing"><a href="/schedule/index.html#panel">Ruby Application Frameworks discussion panel</a></p>
</div>
