<div class="person">
  <div class="mug"><img src="/images/people/phillips.png"></div>
  <h3><a name="phillips">Jay Phillips</a></h3>
  <p>Jay Phillips is an innovator in the spaces where sophisticated VoIP development falls apart and where Ruby rocks. As the creator of Adhearsion and its parent consulting company, Jay brings new possibilities to these two technologies through his work on the open-source Adhearsion framework.</p>
  <p class="appearing"><a href="/schedule/index.html#panel">Ruby Application Frameworks discussion panel</a></p>
</div>
