<div class="person">
  <div class="mug"><img src="/images/people/quint.jpg"></div>
  <h3><a name="quint"></a>Aaron Quint</h3>
  <p>Aaron Quint is a web developer based in Brooklyn, NY. Working with Ruby and Ruby on Rails he has launched over 25 different web applications in the last two years. Recently he's been releasing open source projects at <a href="http://code.quirkey.com">code.quirkey.com</a>, including the Sinatra skeleton generator sinatra-gen.</p>
  <p class="appearing"><a href="/schedule/index.html#quint">Sinatra: The Framework Within</a></p>
</div>
