<div class="person">
  <div class="mug"><img src="/2009/images/people/silber.png"></div>
  <h3><a name="silber"></a>Leah Silber</h3>
  <p>If you've been to a Ruby conference in the last year or two, you've likely seen Leah there.  When she's not traveling the world seeking out the perfect conference, she's here in San Francisco running Marketing and Community Relations at Engine Yard.</p>
</div>
