<div class="person">
  <div class="mug"><img src="/2009/images/people/sobo.png"></div>
  <h3><a name="sobo"></a>Nathan Sobo</h3>
  <p>Nathan Sobo is the author of <a href="http://github.com/nathansobo/treetop">Treetop</a>, a packrat parsing framework for Ruby. After two years practicing extreme programming at Pivotal Labs, he now directs engineering at <a href="http://grockit.com">Grockit</a>, where the challenge of supporting rich synchronous interaction on the web is his primary source of technical inspiration.</p>
  <p class="appearing"><a href="/2009/schedule/index.html#sobo">Unison: A Relational Modeling Framework</a></p>
</div>
