<div class="person">
  <div class="mug"></div>
  <h3><a name="stevenson"></a>David Stevenson</h3>
  <p>David Stevenson has been working in Ruby for more than three years. He's contributed a large number of Ruby gems and Rails plugins/patches, most notably the MySQL QueryReviewer plugin. He loves building complex applications that both perform and scale well, but also loves to tinker with weird side projects like the Ruby sandbox. He's worked on many large rails-based websites such as Rightcart, Rightscale, MetroMix, and LikeMe. These days be can be found playing ping-pong at Pivotal Labs.</p>
  <p class="appearing"><a href="/schedule/index.html#stevenson">Playing With Fire: Running Uploaded Ruby Code in a Sandbox</a></p>
</div>
