<div class="person">
  <div class="mug"><img src="/2009/images/people/tyler.png"></div>
  <h3><a name="tyler"></a>Josh Tyler</h3>
  <p>Josh Tyler manages the Front-end Engineering team at Zvents, where he focuses on user experience design and building clean software.  Josh formerly worked at Xerox PARC and HP Labs, and has been programming in Ruby for several years.</p>
  <p class="appearing"><a href="/2009/schedule/index.html#zvents">Hypertable and Rails: DB Scaling Solutions with HyperRecord</a></p>
</div>
