<div class="person">
  <div class="mug"></div>
  <h3><a name="crosby"></a>Jon Crosby</h3>
  <p>Jon Crosby is a San Francisco Bay Area developer specializing in Ruby, JavaScript, Objective-C, and Open Web technologies. Jon is the author of CloudKit <a href="http://getcloudkit.com/">getcloudkit.com</a> and a committer on several open source projects including rack-contrib and the OAuth ruby gem. He is an active member of the Open Web community and is currently employed by Engine Yard.</p>
  <p class="appearing"><a href="/schedule/index.html#crosby">Sinatra: The Framework Within</a></p>
</div>
