<div class="vote">
  <h2><a name="vote"></a>Propose and Vote for Talks</h2>
  <p>The system for proposing and voting for talks is now open.  Head to <a href="http://vote.gogaruco.com/">vote.gogaruco.com</a> to submit a proposal.  If you are registered for the conference, you can vote on those proposals and have a say in what you get to see presented.  Voting deadline is March 15.</p>
</div>
