<div class="vote">
  <h2><a name="vote"></a>Propose and Vote for Talks</h2>
  <p>Proposals for talks are now being accepted and the voting system is open.  If you are registered for the conference, you can head to <a href="http://vote.gogaruco.com/">vote.gogaruco.com</a> to submit a proposal or vote on proposed talks.  <span class="bold">Voting deadline is March 15.</span>  If you aren't registered but want to propose a talk you can email <a href="mailto:speak@gogaruco.com">speak@gogaruco.com</a>.  Full details are available in our <a href="/speakers/cfp.html">Call for Proposals</a>.</p>
</div>
