---
title: 
filter:
  - erb
---
<h2>Finally!</h2>
<p>
  San Francisco is the birthplace of the web revolution. Ruby powers many new technologies, from web
  sites to telephony and desktop applications.  Now, at long last, San Francisco is host to the Bay Area's
  own Ruby Conference.
</p>
<p>
  Join 200 of your fellow developers for two days of in-depth technical explorations of the most interesting
  parts of the Ruby landscape, presented by some of the top talents in the Ruby development community.
</p>

  <h2>Tune In</h2>
  <p class="shout"><a href="http://pivotallabs.com/gogaruco/">Watch us live!</a></p>
  <p>
  If you can't make it to the conference, you can still follow along.  <a href="http://justin.tv/gogaruco/">Justin.tv</a> will be streaming live video of the conference, a team of dedicated live bloggers will be chronicling the talks as they happen, and we'll have an IRC channel set up on <a href="irc://irc.freenode.net:6667/gogaruco">irc.freenode.net at #gogaruco</a>.  The easiest place to keep up is at <a href="http://pivotallabs.com/gogaruco/">pivotallabs.com/gogaruco</a>
  </p>


<h2>Registration is Closed</h2>
<p>We've sold out all available seats.  We might have a few seats available after we finalize the speakers and sponsors, so you can sign up for our wait list on our <a href="/register">registration page</a>.</p>

<h2>Ruby Application Frameworks Panel</h2>
<p>We're really proud of the <a href="/speakers">speakers</a> we've been able to line up for you, and they'll be giving some great <a href="/schedule">talks</a>. But the highlight of the technical program will be the Ruby Application Frameworks discussion panel. Six of the major Ruby application frameworks will be represented by their authors or contributors: Rails, Merb, Sinatra, Adhearsion, RAD, and of course Shoes.</p>

<h2>Contact Us</h2>
<div>
  <p>General inquiries: <a href="mailto:conference@gogaruco.com?subject=conference">conference@gogaruco.com</a></p>
  <p>Sponsorship opportunities: <a href="mailto:sponsors@gogaruco.com?subject=sponsoring">sponsors@gogaruco.com</a></p>
</div>
<h2>Stay Tuned&hellip;</h2>
<div>
  <p>You can keep up with announcements by following us on Twitter: <a href="http://twitter.com/gogaruco">twitter.com/gogaruco</a></p>
</div>
