---
title: 
filter: erb
---
<p><a href="http://www.flickr.com/photos/adelcambre/3450156115/"><img src="/2009/images/there.jpg"></a></p>

<h2>Almost like being there</h2>
<p>
  Want to see our sessions? Thanks to Pivotal Labs, you can see <a href="http://pivotallabs.com/gogaruco/talks">videos of the technical sessions</a>.
</p>
<p>
  We've also put together the <em><a href="/2009/wrap/wrap2009.pdf">Golden Gate Ruby Wrap</a></em>, a PDF zine with profiles of the speakers, summaries of the talks, and some focus on the conference attendees too.
</p>

<h2>Contact Us</h2>
<div>
  <p>General inquiries: <a href="mailto:conference@gogaruco.com?subject=conference">conference@gogaruco.com</a></p>
</div>

<h2>Follow Us</h2>
<div>
  <p>You can keep up with announcements by following us on Twitter: <a href="http://twitter.com/gogaruco">twitter.com/gogaruco</a></p>
</div>
