<table id="grid">
  <thead>
    <tr class="r1">
      <th><p>8:30</p></th>
      <td><p>Friday</p></td>
      <td><p>Saturday</p></td>
    </tr>
  </thead>
  <tbody>
    <tr class="r4">
      <th><p>9:30</p></th>
      <td class="break"><p>Registration</p></td><td class="break"><p> </p></td>
    </tr>
    <tr class="r1">
      <th><p>9:45</p></th>
      <td><p>Welcome and Introduction</p></td>
      <td><p>Announcements</p></td>
    </tr>
    <tr class="r2">
      <th><p>10:15</p></th>
      <td><p><a href="#kilmer">MacRuby and HotCocoa</a> - Rich Kilmer</p></td>
      <td><p><a href="#tyler">Hypertable and Rails: DB Scaling Solutions with HyperRecord</a> - Josh Tyler &amp; Rusty Burchfield</p></td>
    </tr>
    <tr class="r1">
      <th><p>10:30</p></th><td class="break">break</p></td><td class="break">break</p></td></tr>
    <tr class="r2">
      <th><p>11:00</p></th>
      <td><p><a href="#quint">Sinatra: The Framework Within</a> - Aaron Quint</p></td>
      <td><p><a href="#crosby">CloudKit: Hacking the Open Stack with Ruby and Rack</a> - Jon Crosby</p></td>
    </tr>
    <tr class="r1">
      <th><p>11:15</p></th><td class="break">break</p></td><td class="break">break</p></td></tr>
    <tr class="r2">
      <th><p>11:45</p></th>
      <td><p><a href="#stevenson">Playing With Fire: Running Uploaded Ruby Code in a Sandbox</a> - David Stevenson</p></td>
      <td><p><a href="#elliott">Using Shoes to create better iPhone apps</a> - Tim Elliott</p></td>
    </tr>
    <tr class="r1">
      <th><p>12:00</p></th><td class="break">break</p></td><td class="break">break</p></td></tr>
    <tr class="r2">
      <th><p>12:30</p></th>
      <td><p><a href="#williams">TrustTheVote: Open Source Digital Voting</a> - Gregory Williams</p></td>
      <td><p><a href="#maher">Using Ruby to Fight AIDS</a> - Jacqui Maher</p></td>
    </tr>
    <tr class="r5">
      <th><p>1:45</p></th><td class="break">LUNCH</p></td><td class="break">LUNCH</p></td></tr>
    <tr class="r2">
      <th><p>2:15</p></th>
      <td><p><a href="#catlin">There Will Be Ruby!</a> - Hampton Catlin</p></td>
      <td><p><a href="#aimonetti">CouchDB + Ruby: Perform Like a Pr0n Star</a> - Matt Aimonetti</p></td>
    </tr>
    <tr class="r1">
      <th><p>2:30</p></th><td class="break">break</p></td><td class="break">break</p></td></tr>
    <tr class="r2">
      <th><p>3:00</p></th>
      <td><p><a href="#grigorik">Building Custom Web Proxies in Ruby</a> - Ilya Grigorik</p></td>
      <td><p><a href="#helmkamp">Webrat: Rails Acceptance Testing Evolved</a> - Bryan Helmkamp</p></td>
    </tr>
    <tr class="r1">
      <th><p>3:15</p></th><td class="break">break</p></td><td class="break">break</p></td></tr>
    <tr class="r4">
      <th><p>4:15</p></th>
      <td><p><a href="#panel">Discussion Panel: Ruby Application Frameworks</a></p></td>
      <td><p><a href="#lightning">Lightning Talks</a></p></td>
    </tr>
    <tr class="r2">
      <th><p>4:45</p></th><td class="break">break</p></td><td class="break">break</p></td></tr>
    <tr class="r2">
      <th><p>5:15</p></th>
      <td><p><a href="#lerche">Writing Fast Ruby: Learning from Merb &amp; Rails 3</a> - Carl Lerche</p></td>
      <td><p><a href="#borenstein">Arduino is Rails for hardware hacking</a> - Greg Borenstein</p></td>
    </tr>
    <tr class="r1">
      <th><p>5:30</p></th><td class="break">break</p></td><td class="break">break</p></td></tr>
    <tr class="r2">
      <th><p>6:00</p></th>
      <td><p><a href="#kallen">Magic Scaling Sprinkles</a> - Nick Kallen</p></td>
      <td><p><a href="#sobo">Unison: A Relational Modeling Framework</a> - Nathan Sobo</p></td>
    </tr>
  </tbody>
</table>
