---
title: Schedule
filter: erb
---
<h2>Sessions</h2>
<ul class="sessions">
  <li><%= render :partial => "/sessions/panel-frameworks" %></li>
  <li><%= render :partial => "/sessions/borenstein-rad" %></li>
  <li><%= render :partial => "/sessions/elliott-shoes" %></li>
  <li><%= render :partial => "/sessions/grigorik-proxies" %></li>
</ul>
