---
title: Schedule
filter: erb
---
<h2>Sessions</h2>
<ul class="people">
  <li><%= render :partial => "/sessions/borenstein-rad" %></li>
  <li><%= render :partial => "/sessions/panel-frameworks" %></li>
</ul>
