---
title: Register
filter: erb
---
<h2>Register for Golden Gate Ruby Conference</h2>
<p>Registration is closed and all available seats have been sold.  We might have a few seats available after we finalize the speakers and sponsors, so you can sign up for our wait list below.  Your ticket to Golden Gate Ruby Conference gets you the following:</p>

<ul class="dots">
  <li>Admission to two days of sessions</li>
  <li>Lunch both days</li>
  <li>Official Conference T-shirt</li>
  <li>Event Swag Pack</li>
  <li>Entry into event giveaway raffles</li>
  <li>Access to any after-hours events</li>
</ul>

<p>Payment is accepted via Google Checkout. Upon completing your purchase, you should receive confirmations from both Google Checkout and Golden Gate Ruby Conference.</p>

<div class="register">
<script type="text/javascript">
eventbrite_event = "263639553";
eventbrite_view = "tickets";
eventbrite_width = "600";
eventbrite_height = "500";
</script>
<script type="text/javascript" src="http://www.eventbrite.com/static/js/events.js"></script>
</div>
