---
title: Register
filter: erb
---
<h2>Register for Golden Gate Ruby Conference</h2>
<p>Registration is open now, priced at $199. Your ticket to Golden Gate Ruby Conference gets you the following:</p>

<ul class="dots">
  <li>Admission to two days of sessions</li>
  <li>Lunch both days</li>
  <li>Official Conference T-shirt</li>
  <li>Event Swag Pack</li>
  <li>Entry into event giveaway raffles</li>
  <li>Access to any after-hours events</li>
</ul>

<p>Payment is accepted via Google Checkout (preferred) and PayPal, and both means accept credit card without needing an account. Upon completing your purchase, you should receive confirmations from both your Payment Processor and Golden Gate Ruby Conference.</p>

<div class="register">
<script type="text/javascript">
eventbrite_event = "263639553";
eventbrite_view = "tickets";
eventbrite_width = "600";
eventbrite_height = "500";
</script>
<script type="text/javascript" src="http://www.eventbrite.com/static/js/events.js"></script>
</div>

