---
title: Speakers
filter: erb
---
<h2>Call for Proposals</h2>
<p>
  We wanted quality, transparency and variety in our program, so we're leaving half of it up to you&mdash;the attendees!  Half of our talks were invited by the organizers, but if you're registered for the conference, you can vote on selecting the other half.
</p>
<p>
  And if you have something to say that would interest, entertain or enthrall a room full of Ruby fanatics, we'd love to have you submit a talk proposal.
</p>
<p>
  Only registered attendees can vote for talks, to ensure that this is about what <span class="italic">you</span> want, not just a general "who can get the most votes" marathon. Each attendee has 10 votes, so use them wisely! Votes can be cast and changed until the final deadline of March 15th.
</p>
<p>
  Registered attendees can submit proposals on the UserVoice page at <a href="http://vote.gogaruco.com">vote.gogaruco.com</a>, which they will receive access to via email upon completing registration. If you're not registered, you can still submit a proposal by emailing <a href="mailto:speak@gogaruco.com">speak@gogaruco.com</a>. Please don't ask for access to the forum if you aren't registered for the conference. Note that <span class="italic">only</span> proposals that follow the correct submission format will be accepted, but it's somewhat simple: an abstract of up to 200 words, and a bio of about 50-100 words. See the <a href="/2009/speakers">Speakers</a> and <a href="/2009/schedule">Schedule</a> pages for examples. Limit of 2 proposals per person. If you have questions, we're just an email away.
</p>
<p>
  If your talk is selected you will receive a complementary pass to the conference. If you have purchased a ticket and are then selected to give a talk, the $199 ticket price will be refunded to you at the conference, so don't wait to register if you're going to attend either way.
</p>
<p>Happy voting!</p>
