---
extension: html
filter:    erb
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Golden Gate Ruby Conference<%= (@page.title || "").empty? ? "" : " - #{@page.title}" %></title>
  <link href="/css/gogaruco.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<% pages = %w( Registration Speakers Schedule Lodging Sponsors Community) %>
<body id="index">
  <div id="container">

    <div id="header">
      <a class="home" href="/"><img src="/images/gogaruco_banner.png"></a>
      <div class="bubble">
        <ul>
          <li class="in0">April 17-18, 2009</li>
          <li class="in1">San Francisco, California</li>
          <li class="in2">at the historic <a href="http://www.cafedunord.com/?page=directions">Swedish American Hall</a></li>
        </ul>
      </div>
      <div class="nav">
        <ul>
          <% pages.each_with_index do |page,i| -%>
            <li><a class="blue<%= i %><%= @page.path =~ %r[#{page}]i ? " current" : "" %>"
                   href="/<%= page.downcase %>/"><%= page.upcase %></a></li>
          <% end -%>
        </ul>
      </div>
    </div>

    <div id="main">
      <%= @content %>
    </div>

    <div id="sponsors">
      <div class="inner">
        <h2>Sponsors</h2>
        <h3>Platinum</h3>
        <ul>
          <li><a href="http://example.com/"><img src="/images/logos/fnord.gif" alt="FNORD"></a></li>
          <li><a href="http://example.com/"><img src="/images/logos/fnord.gif" alt="FNORD"></a></li>
        </ul>
        <h3>Gold</h3>
        <ul>
          <li><a href="http://example.com/"><img src="/images/logos/fnord.gif" alt="FNORD"></a></li>
          <li><a href="http://example.com/"><img src="/images/logos/fnord.gif" alt="FNORD"></a></li>
        </ul>
      </div>
    </div>
    <div class="push"></div>
  </div>

  <div id="footer">
    <p class="logo"><img src="/images/footer_logo.png"></p>
    <p class="copy">
      &copy; 2009 golden gate ruby conference, llc &bull;
      logo design by <a href="http://codefluency.com/">bruce williams</a>
    </p>
    <div class="nav">
      <ul>
        <% pages.each_with_index do |page,i| -%>
          <li class="blue<%= i %>">&nbsp;</li>
        <% end -%>
      </ul>
    </div>
  </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7133758-1");
pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
</html>
