<div class="session">
  <h3><a name="catlin"></a>There Will Be Ruby!</h3>
  <p class="speaker"><a href="/2009/speakers/index.html#catlin">Hampton Catlin</a></p>
  <p>Have you ever tried to catch a train running at a million miles an hour? Jumping into the traffic stream at Wikipedia is an insane adventure I've been going through. Exactly how do you launch a new platform that could instantly have millions of hits in a few hours? How do you do that and not spend 3 years researching? A fun tour of how I got Ruby at Wikipedia and did it with confidence, bravado, and alcohol. There will be cussing and lots of funny stories that should be highly educating and an insight into my technical philosophies.</p>
</div>
