<div class="session">
  <h3><a name="crosby"></a>CloudKit: Hacking the Open Stack with Ruby and Rack</h3>
  <p class="speaker"><a href="/speakers/index.html#crosby">Jon Crosby</a></p>
  <p>Learn about the architecture and construction of CloudKit, an Open Web JSON Appliance. Along the way, see how the emerging Open Stack &mdash; including OpenID and OAuth+Discovery &mdash; can be used to build open and discoverable web services in Ruby. Other topics of exploration will include cooperative Rack middleware stacks, non-relational storage with Tokyo Cabinet, new IETF drafts covering HTTP Discovery, online/offline synchronization with plain old HTTP, and more.</p>
</div>
