<div class="session">
  <h3><a name="elliott"></a>Using Shoes to create better iPhone apps</h3>
  <p class="speaker"><a href="/2009/speakers/index.html#elliott">Tim Elliott</a></p>

  <p>
    Shoes is a tiny graphics toolkit that embeds ruby. It allows you to do
    anything. You can draw squares and circles and they can move about and
    say "Good Morning" when they chance upon each other. Shoes lets you
    add layouts to your applications with ease. It borrows ideas from
    Processing, Lua, and HTML to make an intuitive language to convert
    your ideas into programs that you can share with your friends.
  </p>
  <p>
    This talk begins with a Shoes introduction for Ruby programmers. It
    won't take much to get up and running and we can move straight into a
    practical application of Shoes: prototyping iPhone apps. It turns out
    Shoes is excellent for quickly implementing ideas, testing workflow,
    and fleshing out the code structure. It's nice to do this stuff in
    Ruby first before porting it to Objective-C.
  </p>
  <p>
    We will also cover how to debug shoes applications and a look into the
    Shoes source code.
  </p>
</div>
