<div class="session">
  <h3><a name="kallen"></a>Magic Scaling Sprinkles</h3>
  <p class="speaker"><a href="/2009/speakers/index.html#kallen">Nick Kallen</a></p>
  <p>Building a massively scaled, fault tolerant web service isn't easy, but it's definitely easier if you know which architectures work and which don't. In this talk we'll survey the architecture and complexities of a scalable web service including edgeware, middleware, message systems, load balancing, cache hierarchies, queueing theory, coordination primitives for distributed computation, designing for latency, inter-process communication, load balancing versus locality, write versus read throughput, non-relational datastores, database replication topologies, logging distributed computations, fault tolerance, deployment at scale, forensics, and the merits of suicide.</p>
</div>
