<div class="session">
  <h3><a name="lerche"></a>Writing Fast Ruby: Learning from Merb and Rails 3</h3>
  <p class="speaker"><a href="/2009/speakers/index.html#lerche">Carl Lerche</a></p>
  <p>It has been said that Ruby is a slow language, but that is not true. Numerous Ruby projects have shown that it is possible to write fast, scalable software using Ruby. Merb, for instance, is faster than any major PHP web framework.</p>

  <p>In this talk, Carl will show how to take the many available tools, such as ruby-prof, RBench, and kcachegrind, and turn any old Ruby into a speed machine. The tips and processes will be demonstrated with real world examples of optimizations that have been done to the Merb and Rails 3 projects.</p>

  <p>Topics that will be covered include:</p>

  <ul class="dots">
    <li>Finding performance drains in existing Ruby code</li>
    <li>Popular Ruby idioms that are actually quite slow</li>
    <li>Using benchmarks to help determine the fastest approach to a problem</li>
    <li>Understand the MRI garbage collector and how it applies to Ruby speed</li>
    <li>Leveraging the power of the JVM through JRuby</li>
  </ul>
  <p>This talk is geared towards the intermediate developer and you should have a good grasp of the Ruby programming language.</p>
</div>
