<div class="session">
  <h3><a name="maher"></a>Using Ruby to Fight AIDS</h3>
  <p class="speaker"><a href="/speakers/index.html#maher">Jacqui Maher</a></p>
  <p>In August of 2008, Jacqui Maher visited Baobab Health in Lilongwe, Malawi.
  Baobab is a dedicated group of programmers, clinicians and
  administrators developing public health and patient data
  administration systems. They use a variety of hardware and software
  technologies, but their main applications are written in Ruby on Rails.</p>

  <p>This talk will discuss:</p>

  <ul class="dots">
    <li><a href="http://openmrs.org/">OpenMRS</a>, a framework for open medical record management, currently undergoing international standardization</li>
    <li>Extracting a <a href="http://openmrs.org/images/5/59/Openmrs_data_model_1.10.png">complex data model</a> into an easy to use RubyGem</li>
    <li>Using Ruby in the third world: why it makes sense to start with the new</li>
    <li>Building an infrastructure and software from the ground up</li>
    <li>Collaboration with a global network of developers using GitHub</li>
    <li>Development and deployment challenges in the third world</li>
    <li>How technology can create a common ground between disparate cultures and groups</li>
  </ul>
</div>


