<div class="session">
  <h3><a name="miller"></a>Trust the Vote: An Open Source Digital Public Works Project</h3>
  <p class="speaker"><a href="/speakers/index.html#miller">Gregory Miller</a></p>
  <p>
    The cornerstone of our democracy is the vote.  In a digital democracy the substance of that cornerstone is technology.  The free market enterprise experiment brought about by the Help America Vote Act of 2002 has essentially failed.  No longer can the most vital process of our democracy be delivered by proprietary technology.   The very thing supposed to deliver us from the hanging chad has all but dissolved trust in how our votes are cast and counted. It's time to shift away from black box voting, and move toward <span class="italic">glass box voting</span>.</p>
  <p>
  To restore trust in how America votes, the underlying technology of elections must be put into a public technology trust, because voting technology itself is becoming critical democracy infrastructure.  For over two years an under-the-radar Silicon Valley project has been working on precisely that.  Starting with a clean slate, the <a href="http://osdv.org/">Open Source Digital Voting Foundation</a> has been re-thinking the entire ballot ecosystem.  That project, called TrustTheVote, is making steady progress and is now expanding, thanks to substantial financial backing and support from well-known tech sector philanthropists.
  </p>
  <p>
  This talk will present the TrustTheVote project and the "I count!" movement.  It will cover the technology roadmap, progress so far, and next steps, including expansion of development efforts and opportunities for involvement in design and construction of trustworthy voting technology that everyone will be able to see, touch, and try&mdash;technology that will be fully federally certified and have the endorsement of the States' elections directors through a unique approach that can ensure widespread adoption.  If you have ever wanted to know what you can do to make a difference in our electoral process, then this talk is for you.</p>
</div>
