<div class="session">
  <h3><a name="panel">Discussion Panel: Ruby Application Frameworks</a></h3>
  <p class="speaker">
    <a href="/speakers/index.html#borenstein">Greg Borenstein</a>,
    <a href="/speakers/index.html#elliott">Tim Elliott</a>,
    <a href="/speakers/index.html#katz">Yehuda Katz</a>,
    <a href="/speakers/index.html#mizerany">Blake Mizerany</a>,
    <a href="/speakers/index.html#peek">Josh Peek</a>,
    <a href="/speakers/index.html#phillips">Jay Phillips</a>
  </p>
  <p>
    Many of us discovered Ruby because of Rails, but there are many more frameworks for both web development and other application domains. We have assembled authors and contributors from six of the major application frameworks written in Ruby: Rails, Merb, Sinatra, Adhearsion, RAD and Shoes.  We'll get to hear what they have to say about what makes Ruby good (or bad) for building frameworks, and what opinions they have of other frameworks.  Come with your questions, and demand answers!
  </p>
</div>
