<div class="session">
  <h3><a name="quint"></a>Sinatra: The Framework Within</h3>
  <p class="speaker"><a href="/speakers/index.html#quint">Aaron Quint</a></p>
  <p>Sinatra has been getting a lot of attention lately as the next great (micro-)framework. In writing apps, diving in, and contributing the reasons for its existence have become more clear. Sinatra is not just a toy or a neat trick, its the best way to create simple and non-obtrusive web interfaces to sit on top of a new or existing Ruby codebase. I'll walk through the whats, whys, and tools for getting started with Sinatra.</p>
</div>
