<div class="session">
  <h3><a name="sobo">Unison: A Relational Modeling Framework</a></h3>
  <p class="speaker"><a href="/speakers/index.html#sobo">Nathan Sobo</a></p>
  <p>
    Unison provides a non-traditional approach to object-relational mapping. Instead of trying to hide the relational foundation, Unison helps you embrace it.  Like SQL, Unison is based on the relational algebra, a compact mathematical formalism for building up descriptions of sets by applying basic operators. But unlike SQL, it is compositional, and queries can be constructed by combining relation objects into new relations.
  </p>
  <p>Unison generalizes ActiveRecord's API, replacing association proxies with first-class relations. Familiar friends like <code>has_many</code>, <code>belongs_to</code>, and <code>has_many :through</code> are all implemented in terms of two new methods: <code>relates_to_many</code> and <code>relates_to_one</code>. When you need to express a more complex relationship than those packaged with the framework, you are free to roll your own, reusing any other relations you have defined.</p>
  <p>This talk will also show off Unison's support for event-driven programming and June, Unison's JavaScript counterpart that can perform relational queries against the server.</p>
</div>
