<div class="session">
  <h3><a name="zvents"></a>Hypertable and Rails: DB Scaling Solutions with HyperRecord</h3>
  <p class="speaker"><a href="/speakers/index.html#burchfield">Rusty Burchfield</a> and <a href="/speakers/index.html#tyler">Josh Tyler</a></p>
  <p>Every site based on a RDBMS will eventually hit a database scalability bottleneck. In this session we will introduce Hypertable, an open-source implementation of BigTable, and HyperRecord, an extension of ActiveRecord using Hypertable for storage. We will demonstrate Zvents' use of these technologies to scale a high-traffic, data-intensive consumer web application, writing billions of cells daily.</p>
</div>
