<div class="sponsor">
  <h3>Apress</h3>
  <div class="logo"><a href="http://apress.com/"><img src="/2009/images/logos/apress.gif" alt="Apress"></a></div>
  <p>
    Apress is a technical publisher with more than 700 books in print and a continually expanding portfolio of
    publications. Apress provides high-quality, no-fluff content in print and electronic formats that help
    serious technology professionals build a comprehensive pathway to career success. Apress is part of Springer
    Science+Business Media.
  </p>
</div>
