<div class="sponsor">
  <h3>AT&amp;T Interactive</h3>
  <div class="logo"><a href="http://betalabs.yellowpages.com/"><img src="/images/logos/att.gif"></a></div>
  <p>AT&amp;T Interactive is devoted to creating compelling experiences that connect people, businesses and places so everyone can more easily engage with their world, wherever they work, live or play.
  </p>
  <p>We have a passion for the Internet, mobile applications and emerging media platforms, and are proud to nourish a collaborative, tech-driven culture that promotes innovation, the entrepreneurial spirit and a desire to enhance everyone's daily lives.
  </p>
  <p>As a tech-driven company, AT&T Interactive is always looking for passionate talented individuals who can solve difficult problems and develop new and existing products to exceed consumer expectations and drive value for our advertisers - whether it's online, mobile, interactive TV, video or other media platforms.
  </p>
</div>
