<div class="sponsor">
  <h3>Addison-Wesley Professional</h3>
  <div class="logo"><a href="http://www.informit.com/ruby"><img src="/images/logos/aw.jpg" alt="Addison-Wesley Professional"></a></div>
  <p>
    Addison-Wesley Professional is a leading publisher of high-quality and timely information for programmers,
    developers, engineers, and system administrators. Our mission is to provide educational materials about new
    technologies and new approaches to current technologies written by the creators and leading authorities.
    Addison-Wesley is a part of InformIT, the online presence of the family of information technology publishers and
    brands of Pearson, and publisher of the Professional Ruby Series with Obie Fernandez, series editor.
  </p>
</div>
