<div class="sponsor">
  <h3>ELC</h3>
  <div class="logo"><a href="http://elctech.com/"><img src="/2009/images/logos/elc.png" alt="ELC"></a></div>
  <p>Founded in 1991, ELC Technologies is powering the hottest Ruby on Rails web applications. From Cisco to ESPN to Live Nation, ELC Technologies is bringing Ruby on Rails to business-critical applications. Our work and speed of implementation has received praise from the Rails core team. To learn more, visit <a href="http://elctech.com/">elctech.com</a>.</p>
</div>
