<div class="sponsor">
  <h3>Integrum</h3>
  <div class="logo"><a href="http://integrumtech.com/"><img src="/2009/images/logos/integrum.jpg"></a></div>
  <p>Integrum emphasizes business value, speed to market and open communication to build remarkable Ruby on Rails web applications.</p>
</div>
