<div class="sponsor">
  <h3>JSConf 2009</h3>
  <div class="logo"><a href="http://www.jsconf2009.com/"><img src="/2009/images/logos/jsconf.jpg" alt="JSConf 2009"></a></div>
  <p>JSConf 2009 is a conference devoted to the programming language we all love to hate and hate to love, JavaScript. This is conference will be thoughtful, content driven, and exemplify the very nature of JavaScript. The core focus of this conference is to expose some of the details about JavaScript that are often overlooked and present them more as a discussion with the audience. The content of the conference should cater to all types of JavaScript users from client interfaces to server development to testing. No matter which programming language you love, you know of the pleasure and pain of JavaScript programming.</p>
</div>
