<div class="sponsor">
  <h3>Manning</h3>
  <div class="logo"><a href="http://manning.com/"><img src="/images/logos/manning.png" alt="Manning"></a></div>
  <p>
    Manning Publications publishes computer books for professionals&mdash;programmers, system administrators, designers, architects, managers and others. Our focus is on computing titles at professional levels. We care about the quality of our books. We work with our authors to coax out of them the best writing they can produce. We consult with technical experts on book proposals and manuscripts, and we may use as many as two dozen reviewers in various stages of preparing a manuscript. The abilities of each author are nurtured to encourage him or her to write a first-rate book.
  </p>
</div>
