<div class="sponsor">
  <h3>Marakana</h3>
  <div class="logo"><a href="http://marakana.com/"><img src="/2009/images/logos/marakana.png" alt="Marakana"></a></div>
  <p>Marakana is a San Francisco-based open source training company. We were first to run Ruby on Rails training classes on the west coast. Marakana provides hands-on, instructor-led training to software teams of large corporations and government organizations. Unlike other training companies, Marakana focuses exclusively on open source technology. Our courses can also be customized to your specific needs, and delivered on-site, at your location for groups of 3 or more participants. For more info, visit <a href="http://marakana.com/">marakana.com</a>.</p>
</div>
