<div class="sponsor">
  <h3>New Relic</h3>
  <div class="logo"><a href="http://www.newrelic.com/"><img src="/2009/images/logos/newrelic.png" alt="New Relic"></a></div>
  <p>
    New Relic is the leading provider of application performance
    management tools for Rails. Time spent looking for Rails performance
    problems is time not spent writing code. We want you to fix those
    problems fast—so you can get back to what you love. More than 1200
    customers use RPM to monitor more than 12,000 Rails application
    instances, detecting performance problems and drilling down to their
    root cause. For a free, fully-supported version of RPM go to
    <a href="http://www.newrelic.com/">www.newrelic.com</a>.
  </p>
</div>
