<div class="sponsor">
  <h3>PeepCode</h3>
  <div class="logo"><a href="http://peepcode.com/"><img src="/images/logos/peepcode.png" alt="PeepCode"></a></div>
  <p>PeepCode Screencasts are a high-intensity way to learn Ruby on Rails website development.</p>
  <p>Experienced developers have said that PeepCode is "fantastic and the price is a steal." Designer/developers have said they are "exactly the type of instruction I need to pick up new things and understand how they work."</p>
</div>
