<div class="sponsor">
  <h3>Pivotal Labs</h3>
  <div class="logo"><a href="http://pivotallabs.com/"><img src="/2009/images/logos/pivotal.png"></a></div>
  <p>Pivotal Labs: Discipline, collaboration, results.</p>
  <p>
    At Pivotal Labs, we believe software development should enable your innovative vision, not constrain it. Our sustainable development practice combines our diverse and brilliant team of Pivots with the very best in agile software management techniques. Pivotal Labs partners with you in a collaborative and iterative process that not only produces the highest quality software, it also spreads our wealth of experience to your development team. Let our focus, expertise, and perspective inform and improve your development process throughout and beyond our partnership. Pivotal Labs: come for the best software, leave with the best practices.     
  </p>
</div>

