<div class="sponsor">
  <h3>Pivotal Labs</h3>
  <div class="logo"><a href="http://pivotallabs.com/"><img src="/images/logos/pivotal.png"></a></div>
  <p>Pivotal Labs: Nobody knows agile like we do.</p>
  <p>
    Pivotal Labs: Nobody knows agile like we do. Pivotal Labs: Nobody knows agile like we do. Pivotal Labs: Nobody knows agile like we do. Pivotal Labs: Nobody knows agile like we do. 
  </p>
  <p>
    We handle deployment and maintenance, so you can focus on building your application and running your business. Our deep roots in the Ruby and Rails communities, combined with our commitment to driving the next generation of Ruby technologies, offer our customers the peace of mind of knowing their applications are managed by a team of true technical experts.
  </p>
  <p>
    Engine Yard is invested in the future of the Ruby and Rails communities, and is helping foster and lead development by supporting open source projects like Rails, Merb and Rubinius.
  </p>
</div>