<div class="sponsor">
  <h3>Pragmatic Screencasts</h3>
  <div class="logo"><a href="http://pragmatic.tv/"><img src="/images/logos/pragmatic-screencasts.jpg" alt="Pragmatic Screencasts"></a></div>
  <p><a href="http://pragmatic.tv">Pragmatic Screencasts</a> help you quickly get up to speed on timely topics including Ruby, Rails, Sinatra, Objective-C, iPhone, and Erlang.  In these video tutorials, you'll learn directly from the experts.  You can download and watch DRM-free episodes when and where it's convenient for you.</p>
  <p>In the words of one viewer: "I'm extremely impressed with the quality of the video as well as the contents. All I can say is that you should try them out for yourself, especially at $5 per episode, there’s really nothing to think about."</p>
</div>
