<div class="sponsor">
  <h3>RailsKits</h3>
  <div class="logo"><a href="http://railskits.com/"><img src="/2009/images/logos/railskits.png" alt="RailsKits"></a></div>
  <p>Rails Kits provides developers with ready-made and well-tested code for getting projects off to a quick start.  Developers can save time, skipping the boring stuff and diving straight in to the fun stuff.  Get your project done in less time with less work.</p>
</div>
