<div class="sponsor">
  <h3>Ruby<em>Run</em><sup>CE</sup></h3>
  <div class="logo"><a href="http://www.rubysophic.com/products/RubyRun/"><img src="/images/logos/rubyrun.png" alt="RubyRunCE"></a></div>
  <p>
    Ruby<em>Run</em><sup>CE</sup> is a free, GEM installed performance diagnostic tool for Ruby and Ruby-on-Rails applications. It generates RSS/HTML reports/charts; traces code by method and SQL automagically including code you don’t know; diagnose hanging, slow, and leaking code. Comes with pdf/html documentation, and you OWN everything IN HOUSE.
  </p>
</div>
