<div class="sponsor">
  <h3>Scout</h3>
  <div class="logo"><a href="http://scoutapp.com/"><img src="/images/logos/scout.gif" alt="Scout"></a></div>
  <p>Scout is a dead-simple server monitoring solution powered by open-source plugins. Built by (and for) Rails developers, Scout shows what you need to care about and not the stuff you don’t. Start monitoring your first server for free at <a href="http://scoutapp.com">scoutapp.com</a>.</p>
</div>
