<div class="sponsor">
  <h3>Scribd</h3>
  <div class="logo"><a href="http://scribd.com/"><img src="/images/logos/scribd.png" alt="Scribd"></a></div>
  <p>
    Scribd is the world's largest social publishing network, changing the way tens of millions of people discover and share original writings and documents. Our innovative document reader technology, iPaper, turns written works into web documents, which can be shared on Scribd.com or embedded on any other website. Many of today's leading companies and organizations are using Scribd &mdash; including the Barack Obama Presidential Campaign Team, The New York Times, Simon &amp; Schuster, Random House, the World Economic Forum, FOXBusiness.com, Harvard University, Ford, Duke Medicine, and The Atlantic. Launched in 2007, Scribd is backed by Charles River Ventures, Redpoint Ventures, Paul Graham's Y Combinator, the Kinsey Hills Group and several prominent angel investors.
  </p>
</div>
