<div class="sponsor">
  <h3>Wiley</h3>
  <div class="logo"><a href="http://www.wiley.com/"><img src="/2009/images/logos/wiley.png" alt="Wiley"></a></div>
  <p>
    With over 200 years experience in the publishing business, Wiley has been a leading source of information and understanding for generations of customers. From computers to cooking, travel to technology, and everything in between, Wiley has a book for you. If you can dream it, we’ll help you do it.
  </p>
</div>
