---
title: Sponsors
filter: erb
---
<h2>Sponsors and Advertisers</h2>
<ul class="sponsors">
  <li><%= render :partial => "engine_yard" %></li>
  <li><%= render :partial => "pivotal_labs" %></li>
</ul>
